@{
    ///Variable que posee los datos de la sesion del usuario
    ProyectoLithio.Models.pa_RetornaUsuarioCorreoPwd_Select_Result modelo
        = (ProyectoLithio.Models.pa_RetornaUsuarioCorreoPwd_Select_Result)this.Session["datosUsuario"];

    ///Variable con la direccion de la vista del Login
    string URLogin = this.Url.Action("Index", "Login");

    string CerrarSesion = this.Url.Action("CerrarSesion", "Login");

    bool sesionIniciada = false;
    if (this.Session["logueado"] != null)
    {
        sesionIniciada = Convert.ToBoolean(this.Session["logueado"]);
    }
}
<!DOCTYPE html>

<html lang="es-mx">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @Styles.Render("~/Content/css")
    <!-- CSS Principal-->
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("Styles", false)
    <link href="~/Content/Panel/style.css" rel="stylesheet" />
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@10'></script>
</head>
<body onload="startTime();">
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img src="~/img/LogoDashboard.jpg" style="width:200px;height:80px;" />
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item" href="~/Inicio/Bienvenida"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Inicio</span></a></li>
            @{
                /// Se muestran las opciones si la sesión es iniciada por un administrador
                if (sesionIniciada)
                {
                    if (modelo.Desc_Tipo_Usuario == "Administrador" && modelo.Desc_Estado_Usuario == "Activo")
                    {
                        <li><a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-dollar"></i><span class="app-menu__label">Costos</span></a></li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-briefcase"></i><span class="app-menu__label">Mantenimientos</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="~/Paises/PaisesLista"><i class="icon fa fa-circle-o"></i> Países</a></li>
                                <li><a class="treeview-item" href="~/Proveedores/ProveedoresLista" rel="noopener"><i class="icon fa fa-circle-o"></i> Proveedores</a></li>
                                <li><a class="treeview-item" href="~/Articulos/ArticulosLista" rel="noopener"><i class="icon fa fa-circle-o"></i> Artículos</a></li>
                                <li><a class="treeview-item" href="~/Presentaciones/PresentacionesLista" rel="noopener"><i class="icon fa fa-circle-o"></i> Presentaciones</a></li>
                            </ul>
                        </li>
                        <li><a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-bar-chart"></i><span class="app-menu__label">Reportes</span></a></li>
                        <li><a class="app-menu__item" href="~/Usuarios/UsuariosLista"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Usuarios</span></a></li>
                        <li><a class="app-menu__item" href="~/Permisos/PermisosLista"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Permisos</span></a></li>
                    }
                    if (modelo.Desc_Tipo_Usuario == "Consultor" && modelo.Desc_Estado_Usuario == "Activo")
                    {
                        <li><a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-bar-chart"></i><span class="app-menu__label">Reportes</span></a></li>
                    }
                    <li class="treeview">
                        <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-question"></i><span class="app-menu__label">Ayuda</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a class="treeview-item" href="#" id="btnModalVersion" data-target="#modalVersion"><i class="icon fa fa-circle-o"></i> Versión</a></li>
                            <li><a class="treeview-item" href="#" rel="noopener"><i class="icon fa fa-circle-o"></i>Manual de usuario</a></li>
                            <li><a class="treeview-item" href="#" rel="noopener" id="btnModalCrearRespaldo" data-target="#modalRespaldo"><i class="icon fa fa-circle-o"></i>Respaldos</a></li>
                        </ul>
                    </li>
                    <li><a class="app-menu__item" href="~/Login/CerrarSesion" id="linkCerrarSesion"><i class="app-menu__icon fa fa-sign-out"></i><span class="app-menu__label">Salir</span></a></li>
                }
            }
        </ul>
    </aside>
    <div class="app-content">
        <div class="pd-ltr-15 xs-pd-15-10">
            @{
                ///Si es verdadero, carga el contenido de la pagina hija
                if (sesionIniciada == true)
                {
                    @RenderBody()
                }
                else
                {
                    ///de lo contrario redireccionar el controlador del
                    ///login y a su metodo index para que solicite los
                    ///datos de inicio de sesion
                    this.Response.Redirect(URLogin);
                }
            }
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small bg-light">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright
            </div>
            <!-- Copyright -->

        </footer>
    </div>
    <!-- Modal VERSION-->
    <div class="modal fade" id="modalVersion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Versión del sistema</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Versión: 1.0
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Crear Respaldo-->
    <div class="modal fade" id="modalRespaldo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Creación de Respaldo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group text-center">
                            <a href="#" class="btn btn-success" id="btnCrearRespaldo">Crear Respaldo</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/AjaxGenerico.js"></script>
    <script src="~/Scripts/Panel/expandir-menu.js"></script>
    <script src="~/Scripts/Panel/abrirModalVersion.js"></script>
    <script src="~/Scripts/Panel/abrirModalRespaldos.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
